# Core ML
torch
torchaudio
transformers==5.2.0
accelerate
einops
onnxruntime

# Backend
fastapi
uvicorn
python-dotenv
python-multipart
psutil

# Audio & Data
sox
soundfile
numpy
pydub
librosa
scipy
openai-whisper
deep-translator
beautifulsoup4
huggingface_hub
pedalboard

# Graphics & Video
moviepy
Pillow

# Testing
pytest
pytest-asyncio
httpx
playwright
pytest-playwright
pyannote.audio


pyannote.audio
pyloudnorm
pytest-cov

